#flashes {
    margin-top: 1em;
}
#content {
    margin-top: 2em;
}
.table thead th.view-eval-head {
    background-color: #d8dbde;
}

footer {
    background: #e9ecef;
    margin-top: 8em;
    padding: 4em;
}
