<div class="modal fade" id="columnManagement" tabindex="-1" role="dialog" aria-labelledby="columnManagementLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="columnManagementLabel">Manage columns</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id='columnsForm'>
          <div class="modal-body">
              <p>Select columns to display. Reorder columns by dragging.</p>
              <h1>Training columns</h1>
              <ul id="trainColumnsList" class="columnsList list-group">
                {% for column, state in train_columns %}
                  <li class="list-group-item {% if not state %}list-group-item-secondary{% endif %}" draggable="True" data-column="{{ column }}">
                    <input type="checkbox" id="{{ column }}Check" {% if state %}checked{% endif %} />
                    <label class="form-check-label" for="{{ column }}Check">{{ column }}</label>
                  </li>
                {% endfor %}
              </ul>
              <h1>Evaluation columns</h1>
              <ul id="evalColumnsList" class="columnsList list-group">
                {% for column, state in eval_columns %}
                  <li class="list-group-item {% if not state %}list-group-item-secondary{% endif %}" draggable="True" data-column="{{ column }}">
                    <input type="checkbox" id="{{ column }}Check" {% if state %}checked{% endif %} />
                    <label class="form-check-label" for="{{ column }}Check">{{ column }}</label>
                  </li>
                {% endfor %}
              </ul>
          </div>
          <div class="modal-footer">
            <button id="saveColumns" type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
      </form>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  var flash_success = "<div class='alert alert-success' role='alert'></div>";
  var flash_danger = "<div class='alert alert-danger' role='alert'></div>";

  // Changing state of list items when (de)selected
  $("#columnsForm .list-group-item>input").click(function() {
    // $(this).parent().toggleClass('disabled');
    $(this).parent().toggleClass('list-group-item-secondary');
  });

  // Allow for reordering columns through drag-and-drop using jQuery UI
  $(".columnsList").sortable();

  // Save column settings
  $("#saveColumns").click(function() {
    $(this).addClass('disabled');
    $(this).text("Saving...");
    // Get new ordering
    var train_columns = new Array();
    var train_states = new Array();
    $("#trainColumnsList li").each( function() {
        var name = $(this).data('column');
        train_columns.push(name);
        var state = $(this).find("input").prop('checked');
        train_states.push(state);
    });
    // Get new ordering for eval
    var eval_columns = new Array();
    var eval_states = new Array();
    $("#evalColumnsList li").each( function() {
        var name = $(this).data('column');
        eval_columns.push(name);
        var state = $(this).find("input").prop('checked');
        eval_states.push(state);
    });

    // Update configuration for train and eval columns
    data = {
        train_columns: train_columns,
        train_states: train_states,
        eval_columns: eval_columns,
        eval_states: eval_states
    };
    $.ajax('/views/{{ data.viewname }}/columns', {
        method: 'POST',
        data: JSON.stringify(data, null, '\t'),
        contentType: 'application/json;charset=UTF-8',
        success: function(data) {
            var alert = $(flash_success);
            alert.append(data.msg);
            $("#flashes").append(alert);

            // Refresh page
            // TODO: Re-render view with new ordering and states
            window.location.href = "/views/{{ data.viewname }}";
        }, error: function(data) {
            var alert = $(flash_danger);
            alert.append("Something went wrong!");
            $("#flashes").append(alert);
        }
    });

    // Close modal
    $("#columnManagement").modal('hide');
  });
});
</script>
