{% with %}
    {% set train_columns = data.train_columns %}
    {% set eval_columns = data.eval_columns %}
    {% include 'column_management.html' %}
{% endwith %}

<table class='table table-hover shepherd-view'>
  <thead class='thead-light'>
    <tr>
      {% for column, state in data.train_columns %}
        <th data-key="{{ column }}" data-state="{{ state }}">{{ column }}</th>
      {% endfor %}
      <th data-key="eval_models" class="view-eval-head">Evaluations</th>
      {% for metric, state in data.eval_columns %}
        <th data-key="{{ metric }}" data-state="{{ state }}" class="view-eval-head">{{ metric }}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for model in data.models %}
    <tr>
      {% for column, state in data.train_columns %}
      <td data-key="{{ column }}" data-state="{{ state }}">{{ model[column] }}</td>
      {% endfor %}
      <td data-key="eval_models">
        {% for eval in model.evaluations %}
          @ {{ eval['model'] }}<br />
        {% endfor %}
      </td>
      {% for metric, state in data.eval_columns %}
        <td data-key="{{ metric }}" data-state="{{ state }}">
          {% for eval in model.evaluations %}
            {{ eval['results'][metric] }}<br />
          {% endfor %}
        </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
$(document).ready(function() {
    toggleColumn = function(key) {
        $("table.shepherd-view [data-key='" + key + "']").toggle();
    }
});
</script>
