{% include 'header.html' %}
<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      {% if data.show_delete %}
        <button class='btn btn-default float-right' id='view_delete'>Delete view</button>
        <script>
        $(document).ready( function() {
          var flash_success = "<div class='alert alert-success' role='alert'></div>";
          var flash_danger = "<div class='alert alert-danger' role='alert'></div>";

          $("#view_delete").click( function() {
            $.ajax('/views/{{ data.viewname }}', {
              method: 'DELETE',
              data: {viewname: "{{ data.viewname }}"},
              success: function() {
                var alert = $(flash_success);
                alert.append("View deleted. Redirecting to homepage...");
                $("#flashes").append(alert);
                setTimeout(function() {
                  window.location.href = "/";
                }, 3000);
              },
              error: function() {
                var alert = $(flash_error);
                alert.append("View could not be deleted!");
                $("#flashes").append(alert);
              }
            })
          });
        });
        </script>
      {% endif %}
      <h1>{{ data.header }}</h1>
      {% include 'table.html' %}
    </div>
  </div>
</div>
{% include 'footer.html' %}
